<h1>Edit {{pirate.name}}'s Information</h1>
<form action='/pirates/{{id}}?_method=PUT' method="POST">
  <input type="text" name="name" value='{{pirate.name}}'><br>
  <input type="text" name="birthplace" value="{{pirate.birthplace}}"><br>
  <input type="number" name="death_year" value="{{pirate.death_year}}"><br>
  <input type="text" name="base" value="{{pirate.base}}"><br>
  <input type="text" name="nickname" value="{{pirate.nickname}}"><br>
  <input type="submit" value="Edit {{pirate.name}}">
</form>
Contact GitHub API Training Shop Blog About
